{% extends 'base.html' %}

{% block title %}
<title>Kodeit- Post blog</title>
{% endblock title %}

{% block body %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
<h2 class="text-center my-2">Post Blog</h2>
<!-- form start -->
<div class="container my-3">
    <form action="post_blog" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Category</label>
            <select class="form-control" name="category">
                <option value="none">ALL</option>
                {% for blog in blogs %}
                    <option value='{{blog.category}}'>{{blog.category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group ">
            <label>Create a new category</label>
            <input name="category_new" type="text" placeholder="Create a new category" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Url</label>
          <input type="Url" class="form-control" name="url" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">description</label>
          <textarea class="form-control"  rows="5" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
</div>
<!-- form ends -->

{% endblock body %}
