{% extends 'base.html' %}

{% block title%}
<title>kodeit - search results</title>
{% endblock title%}

{% block body %}
<div class="container">
    <h3 class="my-3">Search Results: {{query}}</h3> 
    <div class="row mb-2 my-3">
        {% for blog in blogs%}
          {% if blog.category == query %}
          <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{blog.title}}</h3>
                <div class="mb-1 text-muted">{{blog.date}}</div>
                <div class="mb-1 text-danger"> posted by-> {{blog.user_id.username}}</div>
                <p class="card-text mb-auto your-div">{{blog.description}}</p>
                <a href="blog_detail/{{blog.id}}" class="stretched-link btn btn-success">Continue reading</a>
              </div>
            </div>
          </div>
          {%endif%}
        {% endfor%}
    </div>
</div>
    <!-- blog end -->
<script type="text/javascript">// <![CDATA[
$(function(){
  $(".your-div").each(function(i){
    len=$(this).text().length;
    if(len>60)
    {
      $(this).text($(this).text().substr(0,60)+'...');
    }
  });
});
// ]]></script>
{% endblock body %}
